.btn {
	padding: 1rem;
	border: 2px solid $accent-color;
	border-radius: 4px;
	color: $accent-color;
	max-width: 200px;

	@include media-breakpoint-up(md) {
		padding: 1rem 3rem;
	}

	@include media-breakpoint-up(lg) {
		padding: .5rem 3rem;
	}

	&__icon {
			display: none;

			@include media-breakpoint-up(sm) {
				display: inline-block;
				padding-right: .5rem;
			}
		}

	&:hover, &:focus {
		text-decoration: none;
		background: $accent-color;
		color: $light;
	}
}
