.contact {
	background: url("../assets/images/contact-bg.jpg") top center;
	background-size: cover;

	h2 {
		color: $light;
		@include section-number("04");
	}

	.form-message {
		margin-bottom: vr(1);
		padding: .5rem 0;
		padding-left: 1rem;

		&--success {
			background: rgba($white, .4);
			color: $succes-color;
		}

		&--error {
			background: rgba($white, .4);
			color: $error-color;
		}
	}

	form {
        .form-group {
			position: relative;
			margin-bottom: 1rem;

            input, textarea {
                display: block;
				width: 100%;
                background: transparent;
                border: none;
                outline: none;
                padding: .8rem 0;
				color: rgba($white, .8);

                &:focus {
                    background: none;
                }

                &:focus + .input-underline:before, &:focus + .input-underline:after {
                    width: 50%;
                }
            }

            input::placeholder, textarea::placeholder {
                color: rgba($white, .8);
            }

            .input-underline {
                &:before, &:after {
                    content: " ";
					position: absolute;
					z-index: 1;
                    height: 2px;
                    bottom: 0;
                    width: 0;
                    background: #5b637a;
                    transition: width .3s ease-out;
                }

                &:before { left: 50%; }
                &:after { right: 50%; }
            }

			.input-underline--error {
				&:before, &:after {
					background: $error-color;
				}
			}

            &:after {
                content: " ";
				position: absolute;
				width: 100%;
                height: 2px;
                left: 0;
                bottom: 0;
                background: rgba($white, .5);
            }
        }

        button {
			width: 100%;
            margin-top: 2rem;
            padding: 1rem 0;
            background: transparent;
			border: 2px solid $white;
			color: $white;

			&:hover, &:focus {
				background: rgba($white, .1);
				outline: none;
			}
        }
    }
}
