.hero {
	position: relative;
	display: flex;
	align-items: center;
	background: url("../assets/images/bg-hero-800.jpg") no-repeat center center;
	background-size: cover;
	width: 100%;
	min-height: 25rem;

	@include media-breakpoint-down(sm) {
		padding-top: vr(4);
		@include overlay(black, .4);
	}

	@include media-breakpoint-up(md) {
			background: url("../assets/images/bg-hero.jpg") no-repeat left center;
	}

	@include media-breakpoint-up(lg) {
			max-height: 845px;
			height: 100%;
	}

	&__content {
		margin: 0 auto;
		padding: 2rem;

		@include media-breakpoint-up(md) {
			background: rgba(#d5d7d7, .6);
		}

		@include media-breakpoint-up(lg) {
			position: absolute;
			right: 0;
			width: 35.875rem;
		}

		h1, h2 {
			color: $light;

			@include media-breakpoint-up(md) {
				padding-left: 3rem;
				color: $dark;
			}
		}

		h1 {
			margin: 0;
			padding-bottom: 1rem;
			text-transform: uppercase;

			@include media-breakpoint-up(md) {
				padding-bottom: 2rem;
			}
		}

		h2 {
			font-weight: 500;
			font-size: 1.125rem;
			margin: 0;
			padding-bottom: .5rem;
			text-align: left;

			@include media-breakpoint-up(lg) {
				font-size: 1.625rem;
			}
		}

		&__divider {
			width: 10rem;
			height: 1px;
			background: rgba($light, .5);
			margin-bottom: 1rem;

			@include media-breakpoint-up(sm) {
				width: 17.375rem;
			}

			@include media-breakpoint-up(md) {
				background: rgba($dark, .5);
				margin-left: 3rem;
			}
		}
	}

	@include media-breakpoint-up(lg) {
		&__shape1 {
			position: absolute;
			top: 0;
			right: 0;
			width: 19.375rem;
			height: 10.625rem;
			background: #e9eae9;
		}

		&__shape2 {
			position: absolute;
			top: 0;
			right: 0;
			width: 10rem;
			height: 4.75rem;
			background: #d5d7d7;
		}

		&__shape3 {
			position: absolute;
			top: 0;
			left: 0;
			width: 12.125rem;
			height: 6.5rem;
			background: #e9eae9;
		}

		&__shape4 {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 16.675rem;
			height: 14.125rem;
			background: rgba(#31353d, .1);
		}
	}
}
