.site-nav {
	opacity: 0;
	z-index: -2;
	position: fixed;
	top: 2rem;
	transform: translateX(60%);
	transition: all .3s cubic-bezier(.94,.22,.19,.76);

	@include media-breakpoint-up(lg) {
		opacity: 1;
		z-index: 999;
		width: 100%;
		transform: translateX(0);

		&--dark {
			background: $white;
			top: 0;
		}
	}

	&--is-expanded {
		opacity: 1;
		z-index: 99;
		background: rgba($accent-color, .99);
		width: 85%;
		height: 100%;
		top: 0;
		right: 0;
		transform: translateX(0);
		padding: 2rem 0;
	}

	ul {
		margin: 0 auto;
		padding: 4rem;
		list-style: none;
		max-width: 28rem;

		@include media-breakpoint-up(lg) {
			max-width: 100%;
			margin: 0;
			padding: 0;
			text-align: center;
		}
	}

	&__item {
		padding: 1.8rem 0;
		border-bottom: 1px solid rgba($light, .1);

		@include media-breakpoint-up(lg) {
			display: inline-block;
			padding: .6rem 1.6rem;

			position: relative;

			&:not(:last-child):after {
				position: absolute;
				content: " ";
				background: $nav-links;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				height: 16px;
				width: 1px;
			}
		}

		&:last-child {
			margin-right: 0;
		}

		a {
			display: block;
			width: 100%;
			text-decoration: none;
			font-size: 1.25rem;
			color: darken($light, 10%);
			font-weight: 300;
			transition: all .1s ease-out;

			&:hover {
				color: $light;
			}

			@include media-breakpoint-up(lg) {
				display: inline;
				width: auto;
				color: $nav-links;
				padding: 1rem;

				&:hover, &:focus  {
					border-top: 2px solid $accent-color;
					color: $accent-color;
					outline: none;
				}
			}
		}

		&__icon {
			padding-right: 1rem;

			@include media-breakpoint-up(lg) {
				display: none;
			}
		}
	}
	
	@include media-breakpoint-up(lg) {
		a.is-active {
			color: $accent-color;
			font-weight: 400;
		}
	}
}
